.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.CardItems {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: white;
  gap: 40px;
}