.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.CardItems {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: white;
  gap: 40px;
}

#light {
  background: white;
}

#rark {
  background-color: black;
}

#light .CardItems {
  color: black
}

.switchTheme {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}